/*--------------- Body ---------------*/


body {
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 0;
}

h1 {
    font: 600 15vh 'Montserrat', sans-serif;
    color: white;
}

h2 {
  font: 600 5.5vh 'Montserrat', sans-serif;
}

h3 {
  font: 300 2.5vh/2.5 'Open Sans', sans-serif;
}

h4 {
  font: 400 italic 4vh/3 'Open Sans', sans-serif;
  text-align: right;
}



/*--------------- Nav ---------------*/


.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-family:
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{
  z-index:1000000; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;
}
.menu ul {
  margin: 0; padding: 0; list-style-type: none; list-style-image: none;
}
.menu li {
  display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;
}
.menu li:hover{
  display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;
}
.menu ul li a {
  text-decoration:none;  margin: 0px; color:#666;
}
.menu ul li a:hover {
    color: #666; text-decoration:none;
  }
.menu a{
  text-decoration:none; color:#666;
}
.menu a:hover{
  text-decoration:none; color:#666;
}
.glyphicon-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}
header{display:inline-block; font-size:5vh;}
span{padding-left:20px;}
a{color:#336699;}
.navbar-toggler {
  vertical-align: baseline;
}


/*--------------- Buttons ---------------*/


.btn-secondary {
    font: regular small-caps bold 17px/0 'Montserrat', sans-serif;
    /*font-family: 'Montserrat', sans-serif;*/
    letter-spacing: 1.5px;
    color: black;
    /*font-size: 10px;*/
    padding: 10px 70px;
    margin: 25px 20px 0px 20px;
    border-color: white;
    background-color: white;
  }

.btn-primary {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.5px;
  font-size: 10px;
  padding: 10px 70px;
  border-color: orange;
  background-color: orange;
}

.btn-primary-header {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.5px;
  font-size: 10px;
  padding: 10px 70px;
  border-color: orange;
  background-color: orange;
}


/*--------------- Divs ---------------*/


header {
	width:100%;
	background:#ffffff opacity: 0.4;
	height:60px;
	line-height:60px;
	/*border-bottom:1px solid #dddddd opacity: 0.4;*/
}

.jumbotron-fluid {
  height: 85vh;
  background: url(../img/callout-bg-dark.png) no-repeat scroll top left/cover;
  /*background-size: cover;*/
  text-align: center;
  padding-top: 10%;
  margin-top: -70px;
}

.jumbotron-fluid h1 {
  font-size: 6.8vh;
  padding-top: 25vh;
}

.home {
  padding-top: 50;
}

.column-callouts {
  text-align: center;
  /*padding: 5%;*/
  }

.column-callouts h2 {
    margin: 5vh;
    /*padding-bottom: 3vh;*/
  }

.column-callouts h3 {
  margin: 15px;
  padding-bottom: 10px;
}

.column-callouts .btn {
  font-size: 2.3vh;
  margin-bottom: 50px;
}

.quote-container {
  /*font: 500 4vh 'Montserrat', sans-serif;*/
  margin-top: 5vh;
}

.quote-text h2 {
  font-size: 4vh;
}

.quote-text i {
  font-size: 4vh;
}





/*----------- Media Queries -----------*/


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

h1 {
    font-size:9vw;
    padding-top: 7%;
}



  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 13px;
    line-height: 30px;
  }

  .hometext {
    text-align: center;
        margin-top: 10px;
    /*padding-top: 5px;*/
    }

  .hometext h3 {

    /*padding-bottom: 5px;*/
  }

  .btn-primary {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
    font-size: 10px;
    padding: 10px 70px;
    margin-top: 30px;
    border-color: orange;
    background-color: orange;
  }
}



/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {


  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 16px;
    line-height: 40px;
}

.btn-primary {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.5px;
  font-size: 10px;
  padding: 10px 70px;
  margin-top: 15px;
  border-color: orange;
  background-color: orange;
}

  .hometext {
    text-align: center;
    margin-top: 30px;
    /*padding-top: 40px;*/
    }

  .hometext h2 {
    margin: 20px;
    /*padding-bottom: 10px;*/
  }
  /*.btn-default {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
    color: black;
    width: 200px;
    padding: 15px;
    margin: 0px 0px 0px 0px;
    border-color: orange;
    background-color: orange;
  }*/

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

  /*h1 {
      font-size:3vw;
      padding-top: 50%;
  }*/

  /*h2 {
    font-size: 65px;
  }

  h3 {
    font-size: 25px;
  }*/


  .hometext {
    text-align: center;
    padding-top: 75px;
    /*padding-bottom: 50px;*/
    }

  .hometext h3 {
    margin: 105px;
    /*padding-bottom: 50px;*/
  }

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

  .jumbotron-fluid h1 {
    font-size: 6.8vh;
    padding-top: 0%;
  }

  .jumbotron-fluid {
    height: 60vh;
  }

  /*.btn-default {
    font-size: 45px;
    letter-spacing: 1.5px;
    color: black;
    width: 200px;
    padding: 25px 95px;
    border-color: orange;
    background-color: orange;
  }*/

.btn-secondary {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
    color: black;
    font-size: 10px;
    padding: 10px 70px;
    margin: 25px 20px 0px 20px;
    border-color: white;
    background-color: white;
  }

.btn-primary {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.5px;
  font-size: 20px;
  padding: 10px 120px;
  margin-top: 50px;
  border-color: orange;
  background-color: orange;
}


.hometext a {
  font-size: 45px;
}



/*h1 {
    font-size:5.8vw;
    padding-top: 5%;
}*/

  h2 {
    font-size: 65px;
    padding-top: 50px;
    padding-bottom: 10px;
  }

  h3 {
    font-size: 25px;
    padding-bottom: 100px;
    /*padding: 50px, 10px;*/
  }

  .hometext {
    text-align: center;
    padding-top: 60px;
    /*padding-bottom: 10px;*/
    }
  }
  /*.hometext h3 {
    margin: 100px;
    padding-bottom: 50px;
  }*/



/*

Notes

-- BG Shorthand:
background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit;

-- Font Shorthand:
font: font-style font-variant font-weight font-size/line-height font-family;

-- Styles:
h1 jumbotron
h2 panel titles
h3 panel content
h4 quote italics

*/
