/*--------------- Body Defaults ---------------*/


body {
  margin: 0;
  padding: 0;
  /*background-image: url(../img/texture-white.png);*/
}

.container-fluid {
  padding: 0;
}

h1 {
    font: 600 8vh 'Montserrat', sans-serif;
    color: white;
}

h2 {
  font: 600 5.5vh 'Montserrat', sans-serif;
}

h3 {
  font: 300 2.5vh/2.5 'Open Sans', sans-serif;
}

h4 {
  font: 400 italic 4vh/3 'Open Sans', sans-serif;
  text-align: right;
}


/*--------------- Nav ---------------*/


.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-family:
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{
  z-index:1000000; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;
}
.menu ul {
  margin: 0; padding: 0; list-style-type: none; list-style-image: none;
}
.menu li {
  display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;
}
.menu li:hover{
  display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;
}
.menu ul li a {
  text-decoration:none;  margin: 0px; color:#666;
}
.menu ul li a:hover {
    color: #666; text-decoration:none;
  }
.menu a{
  text-decoration:none; color:#666;
}
.menu a:hover{
  text-decoration:none; color:#666;
}
.glyphicon-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}
header{display:inline-block; font-size:5vh;}
span{padding-left:20px;}
a{color:#336699;}
.navbar-toggler {
  vertical-align: baseline;
}


/*--------------- Buttons ---------------*/


.btn-secondary {
    font: regular small-caps bold 17px/0 'Montserrat', sans-serif;
    /*font-family: 'Montserrat', sans-serif;*/
    letter-spacing: 1.5px;
    color: black;
    /*font-size: 10px;*/
    padding: 10px 70px;
    margin: 25px 20px 0px 20px;
    border-color: white;
    background-color: white;
  }

.btn-primary {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.5px;
  font-size: 10px;
  padding: 10px 70px;
  border-color: orange;
  background-color: orange;
}

.btn-primary-header {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.5px;
  font-size: 10px;
  padding: 10px 70px;
  border-color: orange;
  background-color: orange;
}


/*--------------- Divs - Mobile First ---------------*/

.nav-header {
  font-size: 4.5vh;
}

.jumbotron-fluid {
  height: 85vh;
  background: url(../img/callout-bg-dark.png) no-repeat scroll top left/cover;
  text-align: center;
  margin-top: -10vh;
}

.jumbotron-fluid h1 {
  font-size: 6.5vh;
  padding: 40% 5%;
}

.column-callouts {
  text-align: center;
  }

.column-callouts h2 {
    font-size: 5.5vh;
    margin: 5vh;
  }

.column-callouts h3 {
  padding: 0 2vh 5vh 2vh;
  margin: 1vh;
}

.column-callouts .btn {
  font-size: 2.3vh;
  margin-bottom: 50px;
}

.quote-container {
  padding-top: 10vh;
  margin: 0 auto;
  background-color: white;
}

.quote-text h3 {
  font-size: 4vh;
  margin: 0 2vh;
}

.quote-text i {
  font-size: 4vh;
  margin: 0 2vh;
}

.quote-text h4 {
  font-size: 4vh;
  margin: 0 5vh 5vh 0;
}

.footer {
  width: 100%;
}

li {
  margin: 0, auto;
  list-style: none;
  display: inline;
  text-align: center;
}

/*.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}*/


/*----------- Media Queries -----------*/


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

  .jumbotron-fluid h1 {
    padding: 35% 5%;
  }

  .column-callouts h2 {
      font-size: 3.9vh;
    }

  .column-callouts h3 {
    font-size: 1.9vh;
  }

  .column-callouts .btn {
    font-size: 1.2vh;
  }

  .quote-text h3 {
    font-size: 4vh;
    margin: 0 10vh;
  }

  .quote-text i {
    font-size: 4vh;
    margin: 0 10vh;
  }

  .quote-text h4 {
    font-size: 4vh;
    margin: 0 10vh 5vh 0;
  }


/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  .jumbotron-fluid h1 {
    padding: 28% 5%;
  }

  .column-callouts h2 {
      font-size: 3.9vh;
    }

  .column-callouts h3 {
    font-size: 1.9vh;
  }

  .column-callouts .btn {
    font-size: 1.9vh;
  }

  .quote-text h4 {
    font-size: 4vh;
    margin: 0 15vh 5vh 0;
  }

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

  .jumbotron-fluid h1 {
    padding: 22% 15%;
  }

  .column-callouts h2 {
      font-size: 5vh;
    }

  .column-callouts h3 {
    font-size: 2.8vh;
  }

  .column-callouts .btn {
    font-size: 1.9vh;
  }

  .quote-text h3 {
    font-size: 4vh;
    margin: 0 25vh;
  }

  .quote-text i {
    font-size: 4vh;
    margin: 0 25vh;
  }

  .quote-text h4 {
    font-size: 4vh;
    margin: 0 25vh 5vh 0;
  }


}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

  .jumbotron-fluid h1 {
    font-size: 7.5vh;
    padding: 15% 20%;
  }

  .column-callouts h2 {
      font-size: 8vh;
    }

  .column-callouts h3 {
    font-size: 4vh;
    line-height: 8vh;
  }

  .column-callouts .btn {
    font-size: 3vh;
  }

  .quote-text h3 {
    font-size: 4vh;
    margin: 0 40vh;
  }

  .quote-text i {
    font-size: 4vh;
    margin: 0 40vh;
  }

  .quote-text h4 {
    font-size: 4vh;
    margin: 0 40vh 5vh 0;
  }

}
